{% extends "base.html" %}

{% block title %}
    Shaurmap | {{ user.username }}
{% endblock %}

{% block content %}
    <h2>here must be {{ user.username }} and some description</h2>
    <div class="">User email = {{ user.email }}</div>
    <div class="">here must be map with points, but now its just point list</div>
    <ul>
    {% for point in user.points %}
        <li>
            <a href="/points/{{ point.id }}">{{ point.name }} -- {{ point.address }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}